/* Custom styles for the account page */
body {
  background-color: #f8f9fa; /* Light grey background */
}

.account-nav .nav-link {
  color: #2d3032;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.account-nav .nav-link:not(:last-child):hover {
  background-color: #2e3742ff !important;
  color: #fff !important;
}
.account-nav .nav-link:hover {
  background-color: #d13212 !important;
  color: #fff !important;
}

.account-nav .nav-link.active {
  background-color: #2e3742ff;
  color: #fff;
}

.account-nav .nav-link i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

.card {
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
